:80 {
    encode zstd gzip

    @backend path /api/* /docs /docs/* /redoc /redoc/* /openapi.json
    handle @backend {
        reverse_proxy backend:8000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
